html {
  font-family: "Helvetica", "Arial", sans-serif;
}

table {
  
  table-layout: fixed;
  width: 50%;
  margin: 10px auto;
  border-collapse: collapse;
  border-top: 1px solid #225db6;
  border-bottom: 1px solid #225db6;
}


th,
td {
  padding: 0.6em;
}

tr :nth-child(2),
tr :nth-child(3) {
  text-align: right;
  width: 50%;
}

tr :nth-child(1),
tr :nth-child(4) {
  text-align: left;
  width: 35%;
}
tfoot tr:nth-child(1)
tfoot tr :nth-child(2) {
  text-align: right;
}

tfoot tr :nth-child(3) {
  text-align: left;
}

th,
td {
  vertical-align: top;
  padding: 0.3em;
}

tfoot {
  border-top: 1px solid #225db6;
}

tbody tr:nth-child(odd) {
  background-color: #90a1da;
}